<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form id="downloadForm">
        <label for="youtube_url">Enter YouTube URL:</label>
        <input type="text" id="youtube_url" name="youtube_url" required>
        <button type="button" onclick="downloadVideo()">Download</button>
    </form>
    <div id="videoContainer"></div>

    <script src="{{ url_for('static', filename='socketio.js') }}"></script>
</body>
</html>
